p1
{
color: blue;
text-decoration: underline;
}

div.box
{
color: gray;
border: 0.5px solid black;
padding-right: 150px;
padding-left: 10px;
margin-right: 5px;
text-align: center;
float: left;
}

img
{
margin-right: 5px;
margin-top: 0px;
}

.forms
{
padding:  100px;
}

.box1
{
    height: 17px;
padding-bottom: 0px;
margin-bottom: 20px;
padding-top: 0px;
}

@media (max-width: 767px) {
    body{
        background-color: rgb(167, 167, 167);
    }
  }
  @media (min-width: 768px) {
    body{
        background-color: rgb(196, 196, 196);
    }
  }
  @media (min-width: 1024px) {
    body{
        background-color: rgb(252, 252, 252);
    }
  }