p1
{
color: blue;
text-decoration: underline;
}

div.box
{
color: gray;
border: 0.5px solid black;
padding-right: 150px;
padding-left: 10px;
margin-right: 5px;
text-align: center;
float: left;
}

img
{
margin-right: 5px;
margin-top: 0px;
}

.forms
{
padding:  100px;
}

.box1
{
    height: 17px;
padding-bottom: 0px;
margin-bottom: 20px;
padding-top: 0px;
}